@import './styles/base/settings';
@import './styles/base/base';
@import './styles/components/box-layout';
@import './styles/components/buttons';
@import './styles/components/header';
@import './styles/components/content-container';
@import './styles/components/page-header';
@import './styles/components/input-group';
@import './styles/components/inputs';
@import './styles/components/form';
@import './styles/components/visibility';
@import './styles/components/list';
@import './styles/components/loader';

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
